EXPO_PUBLIC_API_KEY=your_widget_api_key_here
EXPO_PUBLIC_API_SECRET=your_widget_secret_key_here
EXPO_PUBLIC_WORKFLOW_DEFINITION_ID=your_workflow_definition_id_here
EXPO_PUBLIC_API_BASE_URL=https://api.transactionlink.io/
EXPO_PUBLIC_WIDGET_BASE_URL=https://widget.transactionlink.io
EXPO_PUBLIC_LOCALE=en
